<div class="container">
  <h1>Date Services</h1>
  <form #postForm="ngForm" (ngSubmit)="onSubmit(postForm.value);postForm.reset()">
    <input 
      type="date" 
      name="firstDate" 
      id="firstdt"
      style="margin-top: 10px;"
      [(ngModel)] = "firstDate"
    >
    <input 
      type="date" 
      name="secondDate" 
      id="secdt"
      style="margin-top: 10px;"
      [(ngModel)] = "secondDate"
    >
    <button
      style="margin-top: 20px;margin-bottom: 20px;"
    >
      submit
    </button>
  </form>
</div>