.pcont {

  display: flex;
  align-items: center;
  min-height: 90vh;

}

form {

  display: flex;
  flex-direction: column;

}

.container {
  display: flex;
  flex: 1;
  justify-content: space-around;

}

button {
  border: none;
  margin: 20px 0px;
  padding:5px 0px 5px 0px;
  border-radius: 5px;

}

.child1 {

  display: flex;
  flex-direction: column;
  justify-content: center;

}

.child2 {

  display: flex;
  flex-direction: column;
  justify-content: center;

}